
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>services</title>
</head>
<body>
    <script src="/Home/js"></script>
    <div> 
        <h1>This is services page </h1>
    </div>
</body>
</html>
