
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
    </div>
    @{ 
        foreach(var i in (string[])ViewData["key"])
            {
                <div>@i</div>
            }
    }

</body>
</html>
