
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delbyID</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="id1" />
            <input type="submit" value="delbyid" />
        </form>
        <h1>Total number of rows effected id : @Model </h1> 
    </div>
</body>
</html>
